<nav class="post-nav">
  {{#prev_post}}
    <a class="prev" href="{{url}}">← {{title}}</a>
  {{/prev_post}}
  {{#next_post}}
    <a class="next" href="{{url}}">{{title}} →</a>
  {{/next_post}}
</nav>
